<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs441_project7">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AmbulanceGameOver2"></activity>
        <activity android:name=".AmbulanceGameOver1" />
        <activity android:name=".VanGameOver2" />
        <activity android:name=".VanGameOver1" />
        <activity android:name=".Truck2GameOver2" />
        <activity android:name=".Truck2GameOver1" />
        <activity android:name=".TaxiGameOver2" />
        <activity android:name=".TaxiGameOver1" />
        <activity android:name=".PoliceGameOver2" />
        <activity android:name=".PoliceGameOver1" />
        <activity android:name=".OrangeCarGameOver2" />
        <activity android:name=".OrangeCarGameOver1" />
        <activity android:name=".BlackCarGameOver2" />
        <activity android:name=".BlackCarGameOver1" />
        <activity android:name=".RedCarGameOver2" />
        <activity android:name=".RedCarGameOver1" />
        <activity android:name=".RedCarDifficulty" />
        <activity android:name=".VanDifficulty" />
        <activity android:name=".Truck2Difficulty" />
        <activity android:name=".TaxiDifficulty" />
        <activity android:name=".PoliceDifficulty" />
        <activity android:name=".OrangeCarDifficulty" />
        <activity android:name=".BlackCarDifficulty" />
        <activity android:name=".AmbulanceDifficulty" />
        <activity android:name=".VanHard" />
        <activity android:name=".Truck2Hard" />
        <activity android:name=".TaxiHard" />
        <activity android:name=".PoliceHard" />
        <activity android:name=".OrangeCarHard" />
        <activity android:name=".AmbulanceHard" />
        <activity android:name=".BlackCarHard" />
        <activity android:name=".Quiz" />
        <activity android:name=".RedCarHard" />
        <activity android:name=".Difficulty" />
        <activity android:name=".MainMenu" />
        <activity android:name=".Van" />
        <activity android:name=".Taxi" />
        <activity android:name=".Police" />
        <activity android:name=".OrangeCar" />
        <activity android:name=".Truck2" />
        <activity android:name=".Ambulance" />
        <activity android:name=".HighScore" />
        <activity android:name=".BlackCar" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".RedCar" />
        <activity android:name=".Instructions" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>